<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%disk{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %level %logger{128}: %msg%n
      </pattern>
    </encoder>
    <target>System.out</target>
  </appender>

  <appender name="ASYNC_STDOUT"
            class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="ASYNC_STDOUT"/>
  </root>

</configuration>
