<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package is a disk cataloguing application
        heavily inspired by <a href="http://gwhere.org">GWhere</a>.
      </p>
      <p>
        <img src="screenshot.png" alt="Screenshot"/>
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Catalogs disks, storing owner/group/file size/permissions/access time/modification time/creation time/SHA-256 hash.</li>
        <li>Verifies catalogs against mounted disks to detect any data corruption or disk issues.</li>
        <li>Imports GWhere catalogs.</li>
        <li>Well-tested core API with extensive unit tests.</li>
        <li>Command-line frontend for non-interactive use.</li>
        <li>Swing-based frontend for a friendly user interface.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
